@import "tailwindcss";

@theme {
  --color-black: #000;
  --color-white: #fff;
  --color-orange-50: #FF9500;
  --color-orange-70: #FFBF66;
  --color-orange-75: #FFCA80;
  --color-orange-80: #FFD449;
  --color-orange-90: #FFEACC;
  --color-orange-95: #FFF4E5;
  --color-orange-97: #FFF9F0;
  --color-orange-99: #FFFDFA;
  --color-white-90: #E4E4E7;
  --color-white-95: #F1F1F3;
  --color-white-97: #F7F7F8;
  --color-white-99: #FCFCFD;
  --color-grey-10: #191919;
  --color-grey-15: #262626;
  --color-grey-20: #333;
  --color-grey-30: #4C4C4D;
  --color-grey-35: #59595A;
  --color-grey-40: #656567;
  --color-grey-60: #98989A;
  --color-grey-70: #B3B3B3;
}

@utility px-basic {
  @apply px-4
}

@utility text-nav {
  @apply text-sm leading-normal 2xl:text-lg
}
@utility h1 {
  @apply text-base leading-normal font-semibold lg:text-4xl 2xl:text-5xl
}
@utility h3 {
  @apply text-2xl leading-normal font-medium lg:text-3xl 2xl:text-4xl
}
@utility small-p {
  @apply text-sm leading-normal font-normal lg:text-base 2xl:text-lg
}